*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
}

.sun{
    position: absolute;
    height: 200px;
    width: 200px;
    background:rgb(255, 162, 0);
    box-shadow: 0 0 30px #fff;
    border-radius: 50%;
}
.sun:hover{
    background:rgb(248, 198, 112) ;
}

.axis1{
    position: absolute;
    height: 400px;
    width: 400px;
    border-right: 2px solid white;
    border-radius: 50%;
    animation: anime-1 5s linear infinite;
}

@keyframes anime-1 {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.axis1 .earth{
    position: absolute;
    width: 60px;
    height: 60px;
    background: steelblue;
    border-radius: 50%;
    left: 180px;
    top: 370px;
}

.axis2{
    position: absolute;
    height: 100px;
    width: 100px;
    border-right: 2px solid #fff;
    border-radius: 50%;
    top: 350px;
    left: 160px;
    animation: anime-1 3s linear infinite;
}

.axis2 .moon{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: grey;
    top: 85px;
    left: 50px;
}

.moon{
    box-shadow: 0 0 15px rgb(255, 255, 255);
}