   @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&family=Open+Sans:wght@300&display=swap');

.cursor{
    height: 32px;
    width: 32px;
    position: absolute;
    z-index: 1000;
    background-image: url(/img/image.png);
}

body{
    cursor: none;
    background-image: url(img/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg);
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

header aside h1{
    font-size: xx-large;
    color: white;
}

header{
    background-color: rgba(51, 52, 53, 0.247);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    cursor: none;
    text-decoration: none;
    color: white;
    font-size: larger;
}
nav{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
nav a:hover{
    text-shadow: 0 0 30px #df8d22;
    color: #df8d22;
}





.flex1{
    padding-left: 50px;
    color: white;
}

.flex2{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}
main{
    display: flex;
}
.mainLeft h1,span{
    font-size: 60px;
    font-weight: 600;
}
.name span{
    color: white;
    font-size: 50px;
}
.name span:hover{
    text-shadow: 0 0 30px #df8d22;
    color: #df8d22;
    font-size: 65px;
}

.name2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name2 span{    
    color: #df8d22;
    text-shadow: 0 0 30px #df8d22;
    font-size: 60px;
    font-weight: 600;
    margin-right:30px;
}
.mainLeft{
    margin-top: 20px;
    flex: 1;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.mainRight{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex: 1;
}
.name{
    display: flex;
    align-items: center;
}

/* Solar system */

.sun{
    position: absolute;
    height: 300px;
    width: 300px;
    background:rgb(255, 162, 0);
    box-shadow: 0 0 30px #df8d22;
    border-radius: 50%;
}

.axis1{
    position: absolute;
    height: 600px;
    width: 600px;
    border-right: 2px solid white;
    border-radius: 50%;
    animation: rotation-1 4s linear infinite;
}

@keyframes rotation-1 {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.axis1 .earth{
    position: absolute;
    width: 60px;
    height: 60px;
    background: steelblue;
    border-radius: 50%;
    left: 180px;
    top: 555px;
}
.earth{
    box-shadow: 0 0 30px rgb(83, 83, 231);
}

.axis2{
    position: absolute;
    height: 100px;
    width: 100px;
    border-right: 2px solid #fff;
    border-radius: 50%;
    top: 535px;
    left: 160px;
    animation: rotation-1 2s linear infinite;
}

.axis2 .moon{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: grey;
    top: 85px;
    left: 50px;
}

.moon{
    box-shadow: 0 0 15px rgb(255, 255, 255);
}


/* Github Button */

.github{
    cursor: none;
    font-size: x-large;
    font-weight: 600;
    background-color: rgba(51, 52, 53, 0.247);
    color: white;
    width: 300px;
    height: 60px;
    border-radius: 25px;
    border: 1px solid #df8d22;
}
.github:hover{
    box-shadow:0 0 30px #df8d22;
}



/* About Page */

.wrappera{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headshot{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 230px;
    height: 350px;
    width: 350px;
    border: solid 1px #df8d22;
    border-radius: 50%;
    box-shadow: 0 0 30px #df8d22;
    overflow: hidden;
    background-color: none;}
.headshot img{
    overflow: hidden;
    
}
article{
    
    border-radius: 25px;
    margin-top: 10px;
    background-color: rgba(51, 52, 53, 0.247);
    color: white;
    text-align: center;
    max-width: 60%;
}
article h1{
    font-size: 40px;
    font-weight: 800;
}
article p, span{
    font-size: x-large;
    font-weight: 400;
}
article span{
    color: #df8d22;
    text-shadow:0 0 30px #df8d22;
}